<?xml version="1.0" encoding="UTF-8"?>
<cdtprojectproperties>
<section name="org.eclipse.cdt.internal.ui.wizards.settingswizards.IncludePaths">
<language name="C++ Source File">
<includepath>/usr/include</includepath>

</language>
<language name="C Source File">
<includepath>/usr/include</includepath>
<includepath>/usr/local/include</includepath>
<includepath>/usr/include/x86_64-linux-gnu</includepath>
<includepath>/usr/lib/gcc/x86_64-linux-gnu/4.8/include</includepath>
<includepath>/usr/lib/gcc/x86_64-linux-gnu/4.8/include-fixed</includepath>

</language>
<language name="Object File">

</language>
<language name="Assembly Source File">

</language>
</section>
<section name="org.eclipse.cdt.internal.ui.wizards.settingswizards.Macros">
<language name="C++ Source File">

</language>
<language name="C Source File">

</language>
<language name="Object File">

</language>
<language name="Assembly Source File">

</language>
</section>
</cdtprojectproperties>
